<h2>About</h2>
<p>
This website is using a design from <a href="http://www.freecsstemplates.org/">free css templates</a> and icons from the <a href="http://www.famfamfam.com/lab/icons/silk/">fam fam fam</a> library.
</p>

<p>
  If you want to get in touch with us, send an email to <span class="italic">matthieutc at gmail.com</span>.
</p>

