<h2>Search for opportunities</h2>
<p>
Ever wanted to take social action but didn't know where to start? The search on the left will get you started. Built on top of the <a href="http://www.socialactions.com">social actions</a> platform, our goal is to make your search for social actions as easy as possible.
</p>
<p>
If you feel that a search you made is especially relevant to you, feel free to subscribe to it as an <a href="http://en.wikipedia.org/wiki/Rss" class="feed">RSS</a> feed. You can also use the <a href="http://en.wikipedia.org/wiki/Permalink" class="permlink">permalink</a> to bookmark your search or simply to share it with friends.
</p>
<p>
  Look for things that appeal to you and start making a difference.
</p>
